


<hr>
<small id="footerRight">
  QnA Powered By <img src="/assets/rails.png" height="30"/>
</small>
<br>
<a href="#">Terms of Service</a> | 
<%= link_to "Home", root_path%> | 
<%= link_to "About", about_path%> |   
<%= link_to "Sign Up", new_user_registration_path%> | 
<%= link_to "Sign In", new_user_session_path%> |
<%= link_to "Edit Account", edit_user_registration_path%> 
<div class="span4">
<p class="">© 2017 QnA. All rights reserved</p>
